</div>
</div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>
<script src="{{ .Site.BaseURL }}js/menus.js"></script>

{{ partial "google_analytics.html" . }}
{{ partial "piwik_analytics.html" . }}

<footer class="footer">
    <ul class="footer-list">
        <li class="footer-list-item">
            <a href="/privacy-policy/">Privacy Policy</a>
        </li>
        <li class="footer-list-item">
            <a href="/cookies-policy/">Cookies Policy</a>
        </li>
    </ul> 
</footer>

</body>
</html>
